@media print {

    body {
        background: none;
        margin: 0;
        padding: 0;
    }

    .card {
        box-shadow: none;
    }
}

@page {
    /* margin: 0 30px; */
    size: A4;
    margin: 0;
    /* margin-left: 15px;
            margin-right: 15px;
            margin-top: 30px;
            margin-bottom: 30px; */
}

@media screen {
    .page {
        width: 210mm;
        height: 297mm;
        margin: 1cm auto;
        background: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: "Cinzel", "Roboto", sans-serif;
    background: #f4efe0;

    margin: 0;
    padding: 0;

}

.page {
    overflow: hidden;
    page-break-after: always;
}

.grid {
    padding: 5mm;

    /* same height as page - I don't know why 100% doesn't work here */
    /* It works for web layout, but not print layout */
    height: 297mm;
}

.card {
    padding: 5px;
    border: 2px solid #222;
    border-radius: 10px;
    background: #fffaf0;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: xx-small;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2mm;

    /* prevent overflow from expanding cards */
    overflow: hidden;
}

.spell-card p {
    margin-top: 0;
}

/* card common styles */

.card .label {
    font-weight: bold;
}

.card .source-book {
    align-self: flex-end;
    white-space: pre-line;
}

.spell-card .name,
.monster-card .name {
    margin-top: 0;
    font-size: larger;
    /* font-size: 1.4em; */

    display: inline-block;
    width: 100%;
    font-weight: bold;

    font-variant-caps: small-caps;

    /* border-bottom: 1px solid #ccc; */
}

.spell-card .subtitle,
.monster-card .subtitle {
    font-size: 0.85em;
    color: #555;
    margin-bottom: 0.5em;
    white-space: pre-wrap;
}

.spell-card .description {
    font-size: 0.95em;
    white-space: pre-wrap;
}

/* monster-card styles */

.monster-card .subtitle {
    font-style: italic;
}

.monster-card .ability {
    border: 1px darkslategray;

}

.monster-card .ability-abbr {
    font-weight: bold;
    font-variant-caps: small-caps;
}

.abilities-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center
}

.header {
    background-color: none;
    font-size: .5em;
    font-weight: normal;

    /* light gray text */
    color: #666666;

    text-transform: uppercase
}

.ability {
    display: contents;
    width: 100%;
    text-align: end;
}

.ability:not(.header)> :nth-child(1) {
    background-color: #e0e0e0;
    padding-left: .25rem
}

.ability:not(.header)> :nth-child(2) {
    background-color: #e0e0e0;
    padding: 0 .125rem;
}

.ability:not(.header)> :nth-child(3),
.ability:not(.header)> :nth-child(4) {
    background-color: #c0c0c0;
    padding-left: .125rem;
    padding-right: .25rem;
}

/* .temp {
    Element	Color	Notes
Header text	#666666	Small, light gray for less prominence
First two cells	#f5f5f5	Very light gray, neutral background
Last two cells	#c0c0c0	Slightly darker gray, still soft but distinct
Hover row (optional)	#e8f4ff	Gentle highlight when hovering a row
} */

/* .cell {
    background-color: lightgray;
} */

/*
.cell .ability-abbr {
    width: 1rem;
} */

/* .ability .name {
    font-weight: bold;
    text-align: left;
}

.ability div {
    text-align: center; 
}
*/