.grid {
    display: grid;
    gap: 5mm;
}

.grid-3x3 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.grid-2x2 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.grid-2x3 {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}


.flex-row {
    display: flex;
    gap: 1rem;
    /* space between fields */
}

.flex-row>* {
    flex: 1;
    /* make both fields equal width */
}

.spacer {
    margin: auto;
}

.row {
    width: 100%;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-0\.5 {
    margin-top: 0.125rem;
}

.mt-1 {
    margin-top: 0.25rem
}

.mt-1\.5 {
    margin-top: 0.375rem
}

.mt-2 {
    margin-top: 0.5rem
}

.mb-0\.5 {
    margin-bottom: 0.125rem;
}

.mb-1 {
    margin-bottom: 0.25rem
}

.italic {
    font-style: italic;
}

.whitespace-pre-line {
    white-space: pre-line;
}