.flex-row {
    display: flex;
    gap: 1rem;
    /* space between fields */
}

.flex-row>* {
    flex: 1;
    /* make both fields equal width */
}

.spacer {
    margin: auto;
}

.row {
    width: 100%;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-0\.5 {
    margin-top: 0.125rem;
}

.mt-1 {
    margin-top: 0.25rem
}

.mt-1\.5 {
    margin-top: 0.375rem
}

.mt-2 {
    margin-top: 0.5rem
}